<div class="sidebar-widget mt-5 mt-lg-0">
	<div class="widget mb-5 follow">
		<h4 class="mb-4 widget-title">Follow us</h4>
		<ul class="list-inline">
			<li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
			<li class="list-inline-item"><a href="#"><i class="ti-twitter"></i></a></li>
			<li class="list-inline-item"><a href="#"><i class="ti-github"></i></a></li>
			<li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>
			<li class="list-inline-item"><a href="#"><i class="ti-pinterest"></i></a></li>
			<li class="list-inline-item"><a href="#"><i class="ti-dribbble"></i></a></li>
		</ul>
	</div>

	<div class="widget mb-5">
		<h4 class="mb-4 widget-title">Popular Posts</h4>
		<ul class="list-unstyled">
			<li class="d-flex mb-4">
				<img src="images/blog/s-1.jpg" alt="" class="img-fluid mr-3">
				<div class="post-body">
					<span class="text-capitalize">by mesut Ozil</span>
					<a href="#"><h5>Elegant Brand Identity for Artistic Glass</h5></a>
				</div>
			</li>
			<li class="d-flex mb-4">
				<img src="images/blog/s-2.jpg" alt="" class="img-fluid mr-3">
				<div class="post-body">
					<span class="text-capitalize">by mesut Ozil</span>
					<a href="#"><h5>Elegant Brand Identity for Artistic Glass</h5></a>
				</div>
			</li>
			<li class="d-flex">
				<img src="images/blog/s-1.jpg" alt="" class="img-fluid mr-3">
				<div class="post-body">
					<span class="text-capitalize">by mesut Ozil</span>
					<a href="#"><h5>Elegant Brand Identity for Artistic Glass</h5></a>
				</div>
			</li>
		</ul>
	</div>

	<div class="widget category mb-5">
		<h4 class="mb-4 widget-title">Categories</h4>
		<ul class="list-unstyled">
		  <li class="d-flex justify-content-between align-items-center">
		    <a href="#">Web Design</a>
		    <span class="cat-count">14</span>
		  </li>
		  <li class="d-flex justify-content-between align-items-center">
		     <a href="#">Development</a>
		    <span class="cat-count">2</span>
		  </li>
		  <li class="d-flex justify-content-between align-items-center">
		     <a href="#">Marketing</a>
		    <span class="cat-count">1</span>
		  </li>
		  <li class="d-flex justify-content-between align-items-center">
		     <a href="#">Video Production</a>
		    <span class="cat-count">1</span>
		  </li>
		</ul>
	</div>
	<div class="widget mb-5 tags">
		<h4 class="mb-4 widget-title">Tags</h4>
		<ul class="list-inline">
			<li class="list-inline-item"><a href="#">Design</a></li>
			<li class="list-inline-item"><a href="#">Marketing</a></li>
			<li class="list-inline-item"><a href="#">Development</a></li>
			<li class="list-inline-item"><a href="#">Seo</a></li>
			<li class="list-inline-item"><a href="#">agency</a></li>
			<li class="list-inline-item"><a href="#">wordpress</a></li>
		</ul>
	</div>

</div>