<div class="row">
	<div class="col-lg-12">
		<div class="pagination">
            <ul class="list-inline d-block mx-auto">
                <li class="list-inline-item">
                    <a href="#">Prev</a>
                </li>
                <li class="active list-inline-item">
                    <a href="#">
                        <span>1</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#">
                        <span>2</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#">
                        <span>3</span>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#">Next</a>
                </li>
            </ul>
        </div>
	</div>
</div>