<article class="single-post">
	<img src="images/blog/01.jpg" alt="" class="img-fluid">

	<div class="single-post-content mt-4">
		<div class="post-meta mb-4">
			<span class="text-black">Tags :</span>
			<span>Design,</span>
			<span>Development</span>

			<span class="ml-3">-</span>
			<span class="date">17 june 2019</span>
		</div>
		
		<h3>If you are starting off with a new domain name with no traffic so to speak of you.</h3>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro odio aperiam nostrum sequi mollitia, sapiente eos aspernatur obcaecati molestias cupiditate autem, tempora dicta esse. Reprehenderit unde, maiores at expedita repellendus.</p>

		<h5>Porro odio aperiam nostrum sequi mollitia, sapiente eos aspernatur obcaecati molestias cupiditate autem</h5>
		<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happinesso one rejects dislikes actual teachings of the great explorer of the truth the master-builder of human </p>

		<div class="share mt-4">
			<ul class="list-inline">
				<li class="mb-3">Share Now :</li>
				<li class="list-inline-item"><a href="#"><i class="ti-facebook mr-2"></i> Facebook</a></li>
				<li class="list-inline-item"><a href="#"><i class="ti-twitter mr-2"></i> Twitter</a></li>
				<li class="list-inline-item"><a href="#"><i class="ti-linkedin mr-2"></i> Linkedin</a></li>
				<li class="list-inline-item"><a href="#"><i class="ti-pinterest mr-2"></i> Pinterest</a></li>
			</ul>
		</div>	
	</div>
</article>

<div class="comments bg-secondary p-4 mt-5">
	<h4 class="mb-4">Comments</h4>

	<div class="latest-comments">
		<ul class="list-unstyled">
			<li>

				<div class="media comments-box mb-45">
					<img src="images/blog/author1.jpg" alt="" class="img-fluid mr-3">
					<div class="comments-text media-body">
						<h5>John Doe</h5>
						<p>Maecenas fermentum consequat mi Donec fermentum Pelle maleuada nulla amiuis sapien sem aliquet nec commodo eget consequat </p>
						<a href="#" class="text-sm text-muted">Reply</a>

						<div class="media mt-4">
							<img src="images/blog/author2.jpg" alt="" class="img-fluid mr-3">
							<div class="media-body comments-text">
								<div class="avatar-name">
									<h5>Jennifer S. Bowen</h5>
								</div>
								<p>Maecenas fermentum consequat mi Donec fermentum Pelle maleuada nulla amiuis sapien sem aliquet nec commodo eget </p>
								<a href="#" class="text-sm text-muted">Reply</a>
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="media">
					<img src="images/blog/author1.jpg" alt="" class="img-fluid mr-3">
					<div class="media-body comments-text">
						<h5>Omar Elnagar</h5>
						<p>Maecenas fermentum consequat mi Donec fermentum Pelle maleuada nulla amiuis sapien sem aliquet nec commodo eget consequat </p>
						<a href="#" class="text-sm text-muted">Reply</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>

<div class="comment-form bg-secondary p-4 mt-5">
	<h4 class="mb-4">Leave a comment</h4>
	<form action="#" class="comment-form">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Your name">
		</div>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Your Email">
		</div>
		<div class="form-group">
			<textarea name="msg" id="msg" cols="30" rows="4" class="form-control" placeholder="Your Comment"></textarea>
		</div>

		<a href="#" class="btn btn-main">Post Comment</a>
		
	</form>
</div>