<section class="section banner-3">
	<div class="container">
		<div class="row justify-content-center align-items-center">
			<div class="col-lg-12">
				<div class="profile mb-5">
					<img src="images/about-img.jpg" alt="" class="img-fluid">
				</div>
			</div>
			<div class="col-lg-7">
				<h2>Jems Smith</h2>
				<p class="lead mb-4">I create premium designs and technology</p>

				<p class="mb-4">I was born in Los Angeles in 1980.I'm 23 years old creative web designer, specializing in User Interface Design and Development.Veritatis culpa sunt alias esse fuga accusamus nostrum, iusto neque. </p>

				
				<img src="images/signature.png" alt="" class="img-fluid">
			</div>

			<div class="col-lg-5">
				<ul class="list-unstyled mt-3 mb-5 about-list">
					<li>- Web design</li>
					<li>- Brand Identity</li>
					<li>- Development & CMS</li>
					<li>- Phptography</li>
				</ul>
			</div>
		</div>
	</div>
</section>
