<section class="section testimonial">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6 text-center mb-5">
				<h2 class="mb-2">Testimonials.</h2>
			</div>
		</div>


		<div class="row justify-content-center align-items-center">
			<div class="col-lg-8"> 
				<div class="owl-carousel owl-theme">
					<div class="testimonial-content">
						<i class="ti-quote-left text-color"></i>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi dolores assumenda explicabo eos et neque dolorem aliquam dolor nobis facere consequuntur eius impedit enim, doloribus necessitatibus at sint nesciunt perspiciatis!</p>

						<h4 class="mb-0">John Smith</h4>
						<span>Senior Designer-infotech.inc</span>
					</div>
					<div class="testimonial-content">
						<i class="ti-quote-left text-color"></i>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi dolores assumenda explicabo eos et neque dolorem aliquam dolor nobis facere consequuntur eius impedit enim, doloribus necessitatibus at sint nesciunt perspiciatis!</p>

						<h4 class="mb-0">Smith Wagon</h4>
						<span>Senior Designer-infotech.inc</span>
					</div>
					<div class="testimonial-content">
						<i class="ti-quote-left text-color"></i>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi dolores assumenda explicabo eos et neque dolorem aliquam dolor nobis facere consequuntur eius impedit enim, doloribus necessitatibus at sint nesciunt perspiciatis!</p>

						<h4 class="mb-0">Haris jossi</h4>
						<span>Senior Designer-infotech.inc</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>